.middle {
  margin: auto;
  text-align: center;
}

.form-element {
  display:block;
}

.initially-hidden {
  display: none;
}

.centered-input {
  display: inline;
}

.la-ball-clip-rotate {
    color: #79bbb5;
}

.text {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

input {
  max-width  : 50%;
  box-sizing : border-box;
}
