<html>
  <head>

    <!-- SEO and responsize tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Styling -->
    <style>

      /* Center everything */
      .container {
        margin     : auto;
        text-align : center;
      }

      /* One form element per line */
      .form-element {
        display:block;
      }

      /*  */
      input {
        max-width  : 50%;
        box-sizing : border-box
      }

    </style>
  </head>

  <body>

    <!-- Bootstrap container -->
    <div id='container' class='container'>

      <!-- Header row  -->
      <div class='row'>
        <div class="col-sm">
          <h1 id="title">Mobile Icon</h1>
        </div>
      </div>

      <!-- Main content row -->
      <div class='row'>
        <div class="col-sm">

          <!-- Short description -->
          <p id="description-paragraph" class="paragraph">
            Upload a file and a zip file of the exported icons will be returned.
          </p>

          <!-- TODO - Checkbox to keep file original name -->
          <!-- TODO - If unchecked, input field for new file name -->
          <!-- TODO - Only allow submit if one of the two is completed -->
          <!-- TODO - Fix </input> field length -->

          <!-- Form to upload file -->
          <form id="form" action="/upload" enctype="multipart/form-data" method="post">

            <!-- Input to select file -->
            <label class="form-element">
              <input type="file" name="file" accept="image/*" class="btn btn-outline-info">
            </label>

            <!-- Submit button -->
            <label class="form-element">
              <input id="submit" type="submit" value="Upload" class="btn btn-primary">
            </label>

          </form>
        </div>
      </div>

      <!-- Footer row -->
      <div class='row'>
        <div class="col-sm">
          <p id="author-paragraph" class="paragraph">
            By Jabari Dash, code found on <a class="link" href="" target="_blank">GitHub.</a>
          </p>
        </div>
      </div>

    </div>

    <!-- Dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://malsup.github.io/min/jquery.form.min.js"></script>
  </body>
</html>
