<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/load-awesome@1.1.0/css/ball-clip-rotate.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <!-- Bootstrap container -->
    <div id='container' class='container middle'>

      <!-- Header row  -->
      <div class='row'>
        <div class="col-sm">
          <h1 id="title">Mobile Icon</h1>
        </div>
      </div>

      <!-- Main content row -->
      <div class='row'>
        <div class="col-sm">

          <!-- Short description -->
          <p id="description-paragraph" class="paragraph">
            Upload a file and a zip file of the exported icons will be returned.
          </p>

          <!-- Form -->
          <form id="form">

            <!-- Input to select file -->
            <div class="form-group">
              <label class="form-element">
                <input id="file" type="file" name="file" accept="image/*" class="btn btn-outline-info">
              </label>

              <small id="file-hint" class="text-danger initially-hidden">
                One file must be selected.
              </small>
            </div>

            <div id="spinner" class='form-group initially-hidden'>
              <div class="la-ball-clip-rotate middle">
                <div></div>
              </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
              <button id="submit-button" type="submit" class="btn btn-primary" disabled>Upload</button>
            </div>

          </form>
        </div>
      </div>

      <!-- Footer row -->
      <div class='row'>
        <div class="col-sm">
          <p id="author-paragraph" class="paragraph">
            By Jabari Dash, source code available on <a class="link" href="https://github.com/N02870941/mobile-icon" target="_blank">GitHub.</a>
          </p>
        </div>
      </div>

      <!-- The Modal -->
      <!-- https://www.w3schools.com/bootstrap4/bootstrap_modal.asp -->
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">An error occurred!</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-body">
              <p id='error-msg'></p>
              <a id='error-url' class='initially-hidden'>GitHub Issues Page</a>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- Dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://malsup.github.io/min/jquery.form.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
